@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
section{
  padding: 100px 0;
}
.contact{
  font-family: 'Poppins',sans-serif;
  background-color:#2196FB;
  color:#082032;
}
.contact .contact-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
section .title{
  position: relative;
  text-align:center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu' , sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.mail{
  width:600px;
  height:450px;
  align-items: flex-start;
  margin-right: 500px;
  padding-right: 10px;
}

.contact .title ::after{
  content: "get in touch";
}

.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

.contact .contact-content .left p{
  text-align: justify;
  font-weight: 200;
}
.contact .contact-content .left .icons{
  margin: 30px 0;
  color: #082032;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row .info i{
  font-size: 25px;
  color:#fff ;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width:100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width:100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid #B2B1B9;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button{
  height: 47px;
  width: 170px;
}
.contact .right form .button button{
  height: 100%;
  width:100%;
  border: 2px solid #fff;
  background:#fff;
  color:  #082032;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover{
  color:#fff;
  background: none;
}

/* responsive media query starting */
@media(max-width:1300px){
  .home .max-width{
    margin-left: 0px;
  }
}
@media(max-width:1104px){
   .about .about-content .left img{
     height: 550px;
     width: 450px;
   }
}
@media(max-width:991px){
  .max-width{
    padding: 0 50px;
  }
}
@media(max-width:991px){
  .menu-btn{
    display: block;
    color: #fff;
    z-index: 999;
  }
.contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
      }
.mail{
  width: 40%;
  height: 140%;
  margin-right: 25px;
  margin-bottom: auto;
}
  }